.card-wrapper {
  position: relative;
  max-width: 115rem;
  margin: auto;
  padding: 1.5rem;

  a {
    &:link {
      text-decoration: none;
    }
  }

  .card-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
    
    /* 4 columns of equal width */
    gap: 2rem;

    @media only screen and (max-width: 768px) {
      grid-template-columns: repeat(1, 1fr);
      gap: 0rem;
    }

    article{
      &:hover{
        transition-timing-function: cubic-bezier(.4, 0, .2, 1);
        transition-duration: .5s;
        transition-property: transform;
        transform: scale(1.025);
      }
    }
  }

  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    box-shadow: 0 4px 8px -2px #000a3c1a;
    background-color: #fff;
    overflow: hidden;
    transition: box-shadow .2s;
    margin-bottom: 1.5rem;

    &:hover {
      box-shadow: 0 6px 12px -4px #001b4433;
    }

    p {
      margin-left: 2rem;
      font-size: medium;
      color: $gray-800;
    }

    .card-img {
      width: auto;
      height: auto;
      max-height: 80rem;
    }

    .card-title {
      display: inline-block;
      margin-left: 2rem;
    }

    .card-date {
      display: inline-block;
      float: right;
      margin-right: 2rem;
    }
  }

}


